body{
    background-color: rgb(116, 116, 241);
}
    h1{
       text-align: center;
        font-family: "Times New Roman";
    }                                
    h2 {
       text-align: left; 
    }
    ul {
        text-align:left;
        list-style-type: none;
    }
    p {
        text-align:left
    
    }
